<%= form_for(@logo_entry) do |f| %>
  <p>Please upload an image file of your logo.  If you'd like, mockup the logo on a t-shirt with (<%= link_to "this template", "http://wegraphics.net/downloads/free-t-shirt-mockup-psd-files", :target => "_blank" %>).</p>
  <h3>Requirements</h3>
  <ul>
    <li>The image should be a square (otherwise it'll be cropped).
    <li>The file must have the dimensions of at least 600px X 600px.</li>
    <li>File size must not exceed 3 megabytes.</li>
  </ul>
  <fieldset>
    <%= f.file_field :image , :required => true %>
  </fieldset>
  <fieldset>
    <%= f.label "Comment (optional)" %>
    <%= f.text_area :comment, cols: 40, rows: 10 %>
  </fieldset>
  <p>Submitting as User: <%= current_user.name %></p>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
